html{
    height: 100%;
}
body{
    min-height: 100%;
}
div {
    position: relative;
    display: inline-block;
    height: 105%;
    width: 100%;
}

/*h1{     /* WHY DOESN'T THIS APPLY TO ALL H11111 
    font-family: "Junction-Light", exo, roboto light;
}
p{
    font-family: 'Exo', Roboto Light;
}*/
#top{
    z-index: 1000;
    position: fixed;
    display: inline;
    text-align: center;
    font-family: 'Roboto Light';
    font-size: 40px;
    background-color: rgba(29, 29, 29, 0.8);
    height: 6%;
    padding-bottom: 30px;
    box-shadow: 0 4px 4px -2px #232323;
    -moz-box-shadow: 0 4px 4px -2px #232323;
    -webkit-box-shadow: 0 4px 4px -2px #232323;
    max-width: 100%;
}
#top .row h3{
    padding-bottom: 5%;
    color: antiquewhite;
    height: 100%;
    width: 105%;
}
#top #max {
    width: 50%;
    color: #bc4bde;
}
#top #resume {
    font-family: "Roboto";
}

#one h1 {
    font-size: 175px;
    color: black;
    text-align: center;
    padding-top: 275px;
    font-weight: 500;
    font-family: 'Roboto light', exo, Droid Sans Mono;
    padding-bottom: 30px;
}
#one p {
    font-size: 90px;
    color: black;
    text-align: center;
    padding-top: 25px;
    font-family: 'Exo';
    border-top: solid 5px #a820d1;
    width: 25%;
    margin: auto;
}
#one {
    background-image: url("20390426379_2147ff89c2_o_BW_low.jpg");
    text-align: center;
}

#two{
    background-image: url("20390426379_2147ff89c2_o_blur.jpg");
}
#two h1{
    color: black;
    font-size: 75px;
    font-family: 'Exo thin';
    text-align: left;
    padding-left: 75px;
    padding-top: 60px;
    padding-bottom: 50px;
}
#two ul{   
    padding-top: 15px;
    font-family: 'Roboto Light';
    font-size: 20px;
    color: white;
    text-align: left;
    margin: auto;
    position:relative;
    display: block;
}
#two #slider{
    height: 80%;
    width: 90%;
    margin: auto;
    background-color:rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.69);
}
#two li{
    font-family: 'Roboto Light';
    position: relative;
    display: inline;
    box-shadow: -8px 0px 10px rgba(0, 0, 0, 0.69);
}
#two img{
    height: 100%;
    width: auto;
    max-height: 100%;
    margin: auto;
    z-index: 1;
    position: absolute;
}
#two #slider div{ 
    z-index: 2;
    height: auto;
    width: 100%;
    background-color: black;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=70);
    opacity: 0.7;
}
#slider strong{
    color:#fff;
    display:block;
    margin-bottom:5px;
    padding:10px 10px 0;
    text-shadow:none;
    font-family: 'Exo thin';
}
#slider p{
    color:#fff;
    display:block;
    font-size:20px;
    padding:0 10px;
    text-shadow:none;
    z-index: 100;
}
#slider .slider-open strong{
    color:#fff;
    font-size:50px;
    z-index: 100;
}
#slider .slider-closed strong{
    font-size: 18px;
    margin-bottom: 5px; 
    z-index: 100;
}
#slider .slider-closed p{
    display:none;
}
#slider .slider-closed{
    width:100%;
}

#inbetween{
    background-image: url("20388697340_c57d3a4e8c_o_BW_low.jpg");
    height: 30%;
}

#three h1{
    color: white;
    font-size: 75px;
    font-family: 'Exo thin';
    text-align: left;
    padding-left: 75px;
    padding-top: 60px;
}
#three{
    background-image: url("20388697340_c57d3a4e8c_o_blur.jpg");
}
#three .row{
    height: 40%;
    width: 90%;
    margin: auto;
    padding-top: 1%;
}
#three #two_p{
    padding-top; 2%;
}
#three .row .col-sm-6{
    width: asdf;                // this needs to be fixed
    position: relative;
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}
#three img{
    max-height: 30%;
    width: auto;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.69);
}
#three img:hover{
    opacity: .8;
}

#end{
    height: 30%;
    background-image: url("20388697340_c57d3a4e8c_o_BW_low.jpg");
    margin-bottom: 0;
    overflow: hidden;
}
#end h1{
    color: white;
    font-size: 75px;
    font-family: 'Exo thin';
    text-align: left;
    padding-left: 75px;
    padding-top: 30px;
}
#end .row{
    padding-top: 60px;
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto';
    color: white;
    padding-right: 60px;
}
#end .col-sm-4{     /* SOLVE FOR WTF THIS FACEBOOK LINK IS BLUE */
    color: #a820d1;
    text-decoration: none;
}

@media only screen and (max-width: 1250px){
    #one h1{
        padding-top: 5%;
        font-size: 100px;
    }
    #one p{
        font-size: 50px;
    }
}

.whatever {  /* NEED TO UNDERSTAND THIS */
	background: no-repeat center right fixed url(images/background.jpg);
	-webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/background.jpg', sizingMethod='scale')";
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/background.jpg', sizingMethod='scale');
} 

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #a820d1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* Wobble Horizontal */
@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.hvr-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
  -webkit-animation-name: hvr-wobble-horizontal;
  animation-name: hvr-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
