html{
    height: 100%;
}
body{
    min-height: 100%;
}
.page {
    position: relative;
    display: inline-block;
    height: 101%;
    width: 100%;
    margin: auto;
}
.half_page{
    position: relative;
    display: inline-block;
    height: 50%;
    width: 100%;
    margin: auto;
}

#one h1 {
    text-align: center;
    padding-top: 10%; 
    font-size: 12em;
    color: black;   
    font-family: 'Roboto Light'; 
}
#one {
    background-color: #eaeaea;  
}

#two {
    background-color: #c6c6c6;
}

#three {
    background-color: #a7a7a7;
}

#four {
    background-color: #6d6d6d;
}
#four .title{
    color: white;
}

#end {
    background-color: #404040;
}
#end .title{
    color: white;
}

.title{
    color: black;
    font-size: 6em;
    font-family: 'Roboto Light';
    text-align: left; 
    padding-top: 5%;
    padding-bottom: 2%;
}

.description{
    color: black;
    font-size: 2em;
    font-family: "David Libre";
    text-align: left;
    padding-top: 2%;
}

/*
#two #slider{
    height: 80%;
    width: 90%;
    margin: auto;
    background-color:rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.69);
}
#two li{
    font-family: 'Roboto Light';
    position: relative;
    display: inline;
    box-shadow: -8px 0px 10px rgba(0, 0, 0, 0.69);
}
#two img{
    height: 100%;
    width: auto;
    max-height: 100%;
    margin: auto;
    z-index: 1;
    position: absolute;
}
#two #slider div{ 
    z-index: 2;
    height: auto;
    width: 100%;
    background-color: black;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=70);
    opacity: 0.7;
}
#slider strong{
    color:#fff;
    display:block;
    margin-bottom:5px;
    padding:10px 10px 0;
    text-shadow:none;
    font-family: 'Exo thin';
}
#slider p{
    color:#fff;
    display:block;
    font-size:20px;
    padding:0 10px;
    text-shadow:none;
    z-index: 100;
}
#slider .slider-open strong{
    color:#fff;
    font-size:50px;
    z-index: 100;
}
#slider .slider-closed strong{
    font-size: 18px;
    margin-bottom: 5px; 
    z-index: 100;
}
#slider .slider-closed p{
    display:none;
}
#slider .slider-closed{
    width:100%;
}

#inbetween{
    background-image: url("20388697340_c57d3a4e8c_o_BW_low.jpg");
    height: 30%;
}




@media only screen and (max-width: 1250px){
    #one h1{
        padding-top: 5%;
        font-size: 100px;
    }
    #one p{
        font-size: 50px;
    }
}

.whatever {  /* NEED TO UNDERSTAND THIS */
	background: no-repeat center right fixed url(images/background.jpg);
	-webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/background.jpg', sizingMethod='scale')";
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/background.jpg', sizingMethod='scale');
} 
